@font-face {
  font-family: 'proxima_novabold';
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novaregular';
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novasemibold';
  src: url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "proxima_novaregular";
  color: #282828;
  font-size: 16px; }

.container {
  max-width: 1170px;
  width: 100%; }

.danger-btn {
  background: #ff0000; }

.blue-btn {
  background: #2d3055; }

.green-btn {
  background: #98de6e; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 26px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a4a4a4 !important; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a4a4a4 !important; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #a4a4a4 !important; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #a4a4a4 !important; }

figure {
  margin: 0; }

.white {
  color: #ffffff; }

.lighter-color {
  color: #7c7c7c; }

.toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: auto; }

.header {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #d1d1d1; }
  @media (min-width: 1300px) {
    .header:site-header .container-fluid {
      padding: 0 100px; } }
  .header .nav-link {
    color: #282828 !important;
    font-size: 15px;
    padding: 0 25px !important;
    text-transform: uppercase; }
    .header .nav-link:hover {
      color: #98de6e !important; }
  @media (max-width: 767px) {
    .header .logo {
      max-width: 170px; } }

.action-btn .btn {
  color: #ffffff; }

.banner {
  background: url(../images/banner.jpg) no-repeat;
  min-height: 100vh; }
  .banner .banner-caption {
    /* position: absolute;
     top: 60%;
     transform: translate(0,-50%);
     -o-transform: translate(0,-50%);
     -moz-transform: translate(0,-50%);
     -webkit-transform: translate(0,-50%);
     left: 0;*/
    width: 100%;
    padding: 15% 0 0; }
    @media (max-width: 1300px) {
      .banner .banner-caption {
        padding: 150px 0 0 0; } }
  .banner h1 {
    color: #ffffff;
    font-size: 100px;
    font-weight: bold;
    font-family: 'proxima_novasemibold'; }
    @media (max-width: 1199px) {
      .banner h1 {
        font-size: 70px; } }
    @media (max-width: 1024px) {
      .banner h1 {
        font-size: 50px; } }
    @media (max-width: 767px) {
      .banner h1 {
        font-size: 30px; } }
  .banner p {
    color: #ffffff;
    font-size: 20px; }
  .banner .search-outer {
    display: inline-block; }
    .banner .search-outer .dropdown {
      display: inline-block; }
      .banner .search-outer .dropdown #dropdownMenuButton {
        background: #eeeeee;
        color: #464646;
        padding: 20px 20px;
        min-width: 195px;
        text-align: left;
        border-radius: 5px 0 0 5px;
        height: 82px;
        border: none; }
        @media (max-width: 1024px) {
          .banner .search-outer .dropdown #dropdownMenuButton {
            padding: 10px;
            height: 65px; } }
        @media (max-width: 767px) {
          .banner .search-outer .dropdown #dropdownMenuButton {
            height: 50px;
            min-width: 0; } }
        @media (max-width: 480px) {
          .banner .search-outer .dropdown #dropdownMenuButton {
            height: 40px;
            font-size: 12px; } }
    .banner .search-outer .form-control {
      display: inline-block;
      width: 580px;
      vertical-align: top;
      padding: 27px 20px;
      height: 82px;
      border-radius: 0 5px 5px 0;
      margin: 0 0 0 -5px;
      border: none; }
      @media (max-width: 1199px) {
        .banner .search-outer .form-control {
          width: 350px; } }
      @media (max-width: 1024px) {
        .banner .search-outer .form-control {
          padding: 17px 10px;
          height: 65px; } }
      @media (max-width: 767px) {
        .banner .search-outer .form-control {
          width: auto;
          height: 50px; } }
      @media (max-width: 480px) {
        .banner .search-outer .form-control {
          font-size: 12px;
          height: 40px; } }
  .banner .search-btn {
    display: inline-block; }
    @media (max-width: 480px) {
      .banner .search-btn {
        display: block;
        margin-top: 10px; } }
    .banner .search-btn .green-btn {
      height: 82px;
      padding: 20px 30px;
      color: #fff;
      margin: 0 0 0 15px;
      width: 192px; }
      @media (max-width: 1024px) {
        .banner .search-btn .green-btn {
          padding: 10px 30px;
          height: 65px;
          width: auto; } }
      @media (max-width: 767px) {
        .banner .search-btn .green-btn {
          height: 50px;
          margin-left: 0;
          padding: 5px 10px; } }
      @media (max-width: 480px) {
        .banner .search-btn .green-btn {
          height: 40px; } }
  .banner .or-opt {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 100%; }
  .banner .danger-btn {
    min-width: 240px;
    height: 60px;
    color: #ffffff;
    font-weight: bold; }
    .banner .danger-btn .fa-ban {
      font-size: 22px;
      position: relative;
      top: 2px;
      margin: 0 4px 0 0; }

.create-account ul {
  margin: 0;
  padding: 0; }
.create-account li {
  display: inline-block;
  width: 32%;
  margin: 20px 0;
  font-size: 20px; }
  @media (max-width: 480px) {
    .create-account li {
      width: 100%;
      margin: 0 0 20px; } }
  .create-account li .circle {
    height: 110px;
    width: 113px;
    display: table;
    border: 3px solid #98de6e;
    border-radius: 100%;
    line-height: 110px;
    margin: 0 auto 10px;
    font-size: 30px;
    color: #98de6e; }
.create-account .green-btn {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 30px; }

.companies {
  background: #eeeeee; }
  .companies h3 {
    color: #2d3055; }
  .companies .brand-logo img {
    position: relative;
    top: 30px; }
  .companies .brand-col {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 360px;
    width: 100%; }
    .companies .brand-col .brand-name {
      float: left;
      padding: 40px 20px 0;
      width: 100%;
      background-image: url(../images/brand1.png);
      background-repeat: no-repeat; }
      .companies .brand-col .brand-name .brand-logo {
        float: left; }
      .companies .brand-col .brand-name .brand-info {
        float: left;
        padding-left: 10px;
        text-align: left;
        width: calc(100% - 68px); }
      .companies .brand-col .brand-name h4 {
        color: #ffffff;
        font-size: 30px;
        margin: 0;
        font-family: "proxima_novasemibold";
        margin: 0; }
    .companies .brand-col .brand-desc {
      float: left;
      padding: 0 20px;
      text-align: left;
      width: 100%; }
      .companies .brand-col .brand-desc p {
        line-height: 1; }
        .companies .brand-col .brand-desc p small {
          font-size: 14px;
          line-height: normal; }
    .companies .brand-col .view-more-btn {
      border-top: 1px solid #bebebe;
      display: table;
      margin: 0 auto;
      padding: 10px 0;
      width: calc(100% - 40px); }
      .companies .brand-col .view-more-btn .blue-btn {
        font-size: 12px; }
  .companies .owl-nav {
    display: block !important; }
    .companies .owl-nav button[class*="owl-"] {
      color: #bbbbbb !important;
      font-size: 100px !important;
      line-height: normal !important;
      margin: 0 15px;
      background: transparent !important; }
      @media (max-width: 767px) {
        .companies .owl-nav button[class*="owl-"] {
          font-size: 60px !important; } }

.footer {
  background: #2d3055; }
  @media (min-width: 1300px) {
    .footer.site-footer .container-fluid {
      padding: 0 100px; } }
  .footer .social {
    margin: 0; }
    .footer .social li {
      display: inline-block;
      margin: 0 7px; }
      .footer .social li a {
        color: #ffffff;
        font-size: 18px; }
        .footer .social li a:hover {
          color: #98de6e; }

.custom-popup .modal-dialog {
  max-width: 700px; }
  .custom-popup .modal-dialog #formLogin {
    margin: 0 auto;
    max-width: 560px; }
  .custom-popup .modal-dialog .form-group p {
    color: #959595;
    font-size: 14px; }
  .custom-popup .modal-dialog .modal-header {
    background: #2d3055;
    display: block;
    text-align: center; }
    .custom-popup .modal-dialog .modal-header h4 {
      color: #ffffff;
      margin: 0 auto; }
    .custom-popup .modal-dialog .modal-header p {
      color: #ffffff;
      margin: 0; }
  .custom-popup .modal-dialog button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    color: #ffffff !important;
    opacity: 1; }
  .custom-popup .modal-dialog input.form-control {
    height: 62px;
    font-size: 14px;
    background: #f1f1f1; }
    @media (max-width: 767px) {
      .custom-popup .modal-dialog input.form-control {
        height: 40px; } }
  .custom-popup .modal-dialog #btnLogin {
    height: 62px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'proxima_novabold'; }
    @media (max-width: 767px) {
      .custom-popup .modal-dialog #btnLogin {
        height: 40px; } }

.admin-dashboard {
  background: #f5f5f5; }

.after-header {
  margin-top: 97px; }

.db-left {
  background: #2d3055;
  width: 335px;
  margin-bottom: 60px;
  overflow: auto; }
  @media (max-width: 991px) {
    .db-left {
      width: 100% !important; } }
  @media (min-width: 992px) {
    .db-left {
      height: calc(100vh - 216px); } }

.user-photo {
  background: #3d4069; }
  .user-photo img {
    border-radius: 100%;
    border: 8px solid #2d3055; }

.user-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }
  .user-menu ul li a {
    color: #ffffff;
    float: left;
    padding: 18px 30px;
    width: 100%;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    text-decoration: none !important; }
    .user-menu ul li a:hover {
      background: #98de6e; }
  .user-menu ul li.active a {
    background: #98de6e; }
  .user-menu ul li .fa {
    margin: 0 10px 0 0; }

@media (min-width: 992px) {
  .db-right {
    padding: 60px 30px 0 45px; } }
.db-right .db-content {
  background: #ffffff;
  overflow-x: hidden;
  box-shadow: 0 0 10px #dddddd;
  -o-box-shadow: 0 0 10px #dddddd;
  -moz-box-shadow: 0 0 10px #dddddd;
  -webkit-box-shadow: 0 0 10px #dddddd; }
  @media (min-width: 992px) {
    .db-right .db-content {
      height: calc(100vh - 276px); } }
  .db-right .db-content .head-sec {
    border-bottom: 1px solid #e3e3e3; }
  .db-right .db-content h5 {
    font-family: 'proxima_novabold';
    color: #3d4069; }
  .db-right .db-content tr:nth-of-type(2n+1) {
    background-color: #ebebeb; }
  .db-right .db-content tr:nth-of-type(2n) {
    background-color: #d8d8d8; }
  .db-right .db-content th {
    background: #2d3055;
    color: #ffffff;
    border-right: 2px solid #ffffff;
    font-family: 'proxima_novasemibold';
    font-weight: normal; }
    @media (max-width: 1200px) {
      .db-right .db-content th {
        padding: 5px;
        font-size: 13px; } }
  .db-right .db-content td {
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff; }
    @media (max-width: 1200px) {
      .db-right .db-content td {
        padding: 5px;
        font-size: 13px; } }
    .db-right .db-content td .action-icon {
      color: #949494;
      padding: 0 3px; }

.add-official {
  background: #f6f6f6;
  max-width: 700px;
  padding: 30px;
  width: 100%; }
  .add-official .green-btn {
    font-weight: bold;
    padding: 13px 35px; }
  .add-official .form-control {
    font-size: 14px !important;
    height: 62px !important;
    color: #a4a4a4 !important; }

@media (min-width: 991px) {
  .toggle-btn, .desktop-hidden {
    display: none !important; } }
@media (max-width: 989px) {
  .navbar {
    padding: 0; }

  .navbar-light .navbar-toggler {
    border: none; }

  .navbar-nav {
    margin-top: 20px !important;
    text-align: left; }

  .header .nav-link {
    padding: 10px !important; }

  .header .action-btn .btn {
    display: none; }

  .menu-col {
    background: #ffffff;
    left: 0;
    position: fixed;
    top: 75px;
    width: 100%; }

  .header .action-btn {
    position: absolute;
    right: 0; } }
@media (max-width: 767px) {
  h3 {
    font-size: 24px; }

  .create-account ul {
    margin: 20px 0 0; } }
@media (max-width: 600px) {
  .footer .row {
    display: block;
    text-align: center; }

  .footer .col.text-right {
    text-align: center !important; }

  .footer .social {
    margin-top: 15px !important;
    padding: 0; } }

/*# sourceMappingURL=app.css.map */
